Repository google/open-location-code, pull requests merged in 2019-05, with the labels that each got.

#322 Update go implementation for floating point errors
  go/decode.go
  go/encode.go
  go/go.mod
  go/olc.go
  go/olc_test.go
  go/shorten.go
  test_data/encoding.csv
  tile_server/gridserver/testdata/21_1098232_1362659.json
  tile_server/gridserver/testdata/21_1098232_1362659_geodetic.json
Labels: go

#334 Update to match c++ implementation
  go/README.md
  go/encode.go
  js/src/openlocationcode.js
  js/test/jasmine-tests.js
  test_data/encoding.csv
Labels: cla: yes, go, js

#335 Format c code with clang
  .travis.yml
  c/.clang-format
  c/README.md
  c/benchmark/bm-c.c
  c/benchmark/shared.c
  c/clang_check.sh
  c/example.c
  c/olc.c
  c/olc.h
  c/olc_private.h
  c/olc_test.c
  c/tests.h
Labels: c, cla: yes

#325 Added Spotless plugin to prettify Java code(as pylint) and Refactored Tests
  .gitignore
  java/BUILD
  java/pom.xml
  java/src/main/java/com/google/openlocationcode/OpenLocationCode.java
  java/src/test/java/com/google/openlocationcode/DecodingTest.java
  java/src/test/java/com/google/openlocationcode/EncodingTest.java
  java/src/test/java/com/google/openlocationcode/PrecisionTest.java
  java/src/test/java/com/google/openlocationcode/RecoverTest.java
  java/src/test/java/com/google/openlocationcode/ShorteningTest.java
  java/src/test/java/com/google/openlocationcode/TestUtils.java
  java/src/test/java/com/google/openlocationcode/UtilsTest.java
  java/src/test/java/com/google/openlocationcode/ValidityTest.java
Labels: cla: yes

#336 Use bazel for build and tests
  .travis.yml
  c/BUILD
  c/Makefile
  c/README.md
  c/example.c
  c/olc_test.c
  c/openlocationcode_test.cc
  c/src/olc.c
  c/src/olc.h
  c/src/olc_private.h
  c/tests.h
Labels: cla: yes

#330 Update ruby library to new algorithm
  .travis.yml
  ruby/README.md
  ruby/lib/plus_codes.rb
  ruby/lib/plus_codes/code_area.rb
  ruby/lib/plus_codes/open_location_code.rb
  ruby/open-location-code.gemspec
  ruby/rubocop.yml
  ruby/test/plus_codes_test.rb
Labels: cla: yes, ruby

#331 Fix error accumulation issue caused by floating point precision
  rust/src/consts.rs
  rust/src/private.rs
Labels: cla: yes, rust

#332 Fix floating point precision for C++ implementation
  .travis.yml
  cpp/.clang-format
  cpp/README.md
  cpp/clang_check.sh
  cpp/codearea.cc
  cpp/codearea.h
  cpp/openlocationcode.cc
  cpp/openlocationcode_example.cc
  cpp/openlocationcode_test.cc
Labels: c++, cla: yes

#333 Update to match c++
  go/encode.go
  go/olc.go
Labels: cla: yes, go

#338 Add script to send comments back to pull requests
  travis-utils/README.md
  travis-utils/badfile.png
  travis-utils/comments.png
  travis-utils/github_comments.go
Labels: cla: yes

#341 Enable PR comments for Dart
  .travis.yml
  dart/checks.sh
  dart/format_check.sh
  travis-utils/github_comments.go
Labels: cla: yes, dart

#342 Use Math.pow instead of **
  .gitignore
  .travis.yml
  js/checks.sh
  js/package.json
  js/src/openlocationcode.js
  js/src/openlocationcode.min.js
  js/test/run_tests.sh
Labels: cla: yes, js

#337 Update C for floating point errors
  c/src/olc.c
  c/src/olc_private.h
Labels: c, cla: yes

#346 Add benchmarks to Java
  java/BUILD
  java/src/test/java/com/google/openlocationcode/BenchmarkTest.java
  java/src/test/java/com/google/openlocationcode/PrecisionTest.java
Labels: cla: yes, java

#347 Fix floating point handling in Java
  .travis.yml
  java/README.md
  java/pom.xml
  java/src/main/java/com/google/openlocationcode/OpenLocationCode.java
  java/src/test/java/com/google/openlocationcode/BenchmarkTest.java
  java/src/test/java/com/google/openlocationcode/PrecisionTest.java
Labels: cla: yes, java

#348 Enable immutable string literals in Ruby
  ruby/lib/plus_codes.rb
  ruby/lib/plus_codes/code_area.rb
  ruby/lib/plus_codes/open_location_code.rb
  ruby/open-location-code.gemspec
  ruby/test/plus_codes_test.rb
Labels: cla: yes, ruby

#349 Add Rust benchmarks
  .travis.yml
  rust/Cargo.toml
  rust/README.md
  rust/src/codearea.rs
  rust/src/consts.rs
  rust/src/interface.rs
  rust/src/lib.rs
  rust/src/private.rs
  rust/tests/all_test.rs
  rust/tests/csv_reader.rs
Labels: cla: yes, rust
